<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            {% comment %}
            <li><a><i class="fa fa-home"></i> Inicio <span class="fa fa-chevron-down"></span></a></li> {% endcomment %}
            <li><a href="{% url 'listpersona' %}"><i class="fa fa-user-plus"></i> Registro Personas <span class="fa fa-chevron-down"></span></a></li>
            <li><a href="{% url 'list_auto' %}"><i class="fa fa-search"></i> Busqueda redes <span class="fa fa-chevron-down"></span></a></li>
            <li><a href="{% url 'listpeople' %}"><i class="fa fa-address-card"></i> Asignación <span class="fa fa-chevron-down"></span></a></li>
            <li><a href="{% url 'listreport' %}"><i class="fa fa-files-o"></i> Reportes <span class="fa fa-chevron-down"></span></a></li>
            <li><a href="{% url 'listroles' %}"><i class="fa fa-files-o"></i> Roles <span class="fa fa-chevron-down"></span></a></li>
            {% comment %}
            <li><a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a></li>
            <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a></li>
            <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a></li>
            <li><a><i class="fa fa-clone"></i>Layoutsx2 <span class="fa fa-chevron-down"></span></a></li>
            <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Chart JS</a></li>
                    <li><a href="#">Chart JS2</a></li>
                </ul>
            </li> {% endcomment %}
        </ul>
    </div>
</div>