<div class="navbar nav_title" style="border: 0;">
    <a href="##" class="site_title">
        <img src="/media/logo-mgp.png" alt="" width="60" height="50">
        <span>OSINT</span></a>
</div>

<div class="clearfix"></div>

<div class="profile clearfix">
    <div class="profile_pic">
        <img src="/media/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="prod_title">
        <span>En línea <i class="fa fa-circle" aria-hidden="true" ></i></span>
        <h2 id="nombreAdmin">Admin </h2>
    </div>
</div>