<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {% if user.is_authenticated %}
                            <img src="/media/img.jpg" alt="">{{ user.username }}
                            {% else %}
                            <img src="/media/img.jpg" alt="">
                            {% endif %}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <form action="{% url 'accounts:logout' %}" method="post" class="formLogout">
                                {% csrf_token %}
                                <button type="submit" class="btn"> <i class="fa fa-sign-out"></i> Salir</button>
                            </form>

                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>