{% extends "layout.html" %} {% block title %}Inicio || Search {% endblock %} {% block content %}

<br><br><br>
<div class="container">
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda de personas por redes sociales - <i class="fa fa-facebook-official"></i> Facebook
        </div>
    </div>
    <div id="demo" class="collapse">
        <example></example>
    </div>
    <br>
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo2">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda de personas por redes sociales - <i class="fa fa-twitter-square"></i> Twitter
        </div>
    </div>
    <div id="demo2" class="collapse">
        <twiter></twiter>
    </div>
    <br>
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo6">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda de personas por redes sociales - <i class="fa fa-google"></i> Google
        </div>
    </div>
    <div id="demo6" class="collapse">
        <google></google>
    </div>
    <br>
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo3">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda de personas por redes sociales - <i class="fa fa-github"></i> Github
        </div>
    </div>
    <div id="demo3" class="collapse">
        <github></github>
    </div>
    <br>
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo4">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda de personas por redes sociales - <i class="fa fa-instagram"></i> Instagram
        </div>
    </div>
    <br>
    <div id="demo4" class="collapse">
        <instagram></instagram>
    </div>
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo5">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda de personas por palabra clave - <i class="fa fa-search"></i> $$$
        </div>
    </div>
    <div id="demo5" class="collapse">
        <clave></clave>
    </div>
    <br>
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo7">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda #Hashtag - <i class="fa fa-search"></i>
        </div>
    </div>
    <div id="demo7" class="collapse">
        <jastag></jastag>
    </div>
    <br>
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo17">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda Trending Topic #Hashtag - <i class="fa fa-search"></i>
        </div>
    </div>
    <div id="demo17" class="collapse">
        <trending></trending>
    </div>
    <br>
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo27">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Metabuscador - <i class="fa fa-search"></i>
        </div>
    </div>
    <div id="demo27" class="collapse">
        <roles></roles>
    </div>
</div>





{% endblock %}