{% extends "layout.html" %} {% block title %}Inicio || Search {% endblock %} {% block content %}

<br><br><br>
<div class="container">
    <div class="row well titulo_busqueda" data-toggle="collapse" data-target="#demo">
        <div class="col-lg-12">
            * Busqueda de personas por redes sociales - <i class="fa fa-facebook-official"></i> Facebook
        </div>
    </div>
    <div id="demo" class="collapse">
        <example></example>
    </div>
    <div class="row well titulo_busqueda" data-toggle="collapse" data-target="#demo2">
        <div class="col-lg-12">
            * Busqueda de personas por redes sociales - <i class="fa fa-twitter-square"></i> Twitter
        </div>
    </div>
    <div id="demo2" class="collapse">
        <twiter></twiter>
    </div>
    <div class="row well titulo_busqueda" data-toggle="collapse" data-target="#demo3">
        <div class="col-lg-12">
            * Busqueda de personas por redes sociales - <i class="fa fa-github"></i> Github
        </div>
    </div>
    <div id="demo3" class="collapse">
        <github></github>
    </div>
    <div class="row well titulo_busqueda" data-toggle="collapse" data-target="#demo4">
        <div class="col-lg-12">
            * Busqueda de personas por redes sociales - <i class="fa fa-instagram"></i> Instagram
        </div>
    </div>
    <div id="demo4" class="collapse">
        <instagram></instagram>
    </div>
    <div class="row well titulo_busqueda" data-toggle="collapse" data-target="#demo5">
        <div class="col-lg-12">
            * Busqueda de personas por palabra clave - <i class="fa fa-search"></i> $$$
        </div>
    </div>
    <div id="demo5" class="collapse">
        <clave></clave>
    </div>
</div>





{% endblock %}