{% extends "layout.html" %} {% block title %}Inicio || Roles {% endblock %} {% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="" class="bmd-label-floating">Nombre de usuario: </label>
                    <input type="text" class="form-control" name="username" id="id_username" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="" class="bmd-label-floating">Nombre: </label>
                    <input type="text" class="form-control" name="first_name" id="id_first_name" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="" class="bmd-label-floating">Apellidos: </label>
                    <input type="text" class="form-control" name="last_name" id="id_last_name" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="" class="bmd-label-floating">Correo: </label>
                    <input type="email" class="form-control" name="email" id="id_email" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="" class="bmd-label-floating">Contraseña: </label>
                    <input type="password" class="form-control" name="password1" id="id_password1" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="" class="bmd-label-floating">Confirma contraseña: </label>
                    <input type="password" class="form-control" name="password2" id="id_password2" autocomplete="off">
                </div>
                <div class="form-group">
                    <button class="btn btn-raised btn-primary" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-success panel_estilo_persona">
                <div class="panel-body div1 table-responsive">
                    <table class="table table-bordered table-hover table-fixed table-striped" style="background:white;">
                        <thead>
                            <tr>
                                <th>Nombre de usuario</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Tipo</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for user in userlist %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                {% if user.is_superuser %}
                                <td>Administrador</td>
                                {% else %}
                                <td>Normal</td>
                                {% endif %}
                                <td>{{ user.email }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}